*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* inizio header top */

.header-top{
    background-color: black;
}

.header-top-logo{
    width: 5rem !important;
}

.header-top img{
    width: 100%;
}

/* fine header top */

/* inizio jumbotron */

.jumbotron{
    background-image: url('img/jumbo-bg.png');
    height: 600px;
    min-height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
}


.logo-jumbotron{
    width: 300px !important;
}


.ms_padding-150{
    padding-top: 150px;
}

.ms_height-100{
    height: 100% ;
}

.ms_btn-radius{
    border-radius: 20px !important;
}

/* fine jumbotron */


/* inizio thumbs */
.thumbs img{
    width: 100%;
}
/* fine thumbs */

/* inizio info playstation */

.info-playstation-img img{
    width: 100%;
}

/* fine info playstation */

.jumbotron-2{
    background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
    height: 700px;
    min-height: 700px;
    background-position: right;
    background-size: cover;
    color: white;
}

/* fine jumbotron-2 */


.logo-jumbotron-2{
    width: 200px;
}

/* fine jumbotron-2 */

/* inizio thumbs-2 */
.thumbs-2{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.thumbs-2 img{
    width: 100%;
}
/* fine thumbs-2 */

/* inizio info playstation 4 img */

.info-playstation-4-img img{
    width: 100%;
}

/* fine info playstation 4 img */

/* inizio jumbotron 3 */

.jumbotron-3{
    background-color: rgb(116, 103, 103);
}

.jumbotron-3 img{
    width: 100%;
    height: 100%;
}

/* fine jumbotron 3 */

/* inizio info-sconti */

.info-sconti img{
    width: 100%;
}
/* fine info-sconti */

/* inizio jumbotron 4 */

.jumbotron-4{
    background-color: rgb(10, 10, 84);
    color: white;    
}

.jumbotron-4 .img-jumbotron-4{
    width: 100% !important;
}

.ms_logo-jumbotron-4{
    width: 100px;
    height: 150px;
}

/* fine jumbotron 4 */

/* inizio social */
.ms_social img{
    width: 100%;
}
/* fine social */

/* inizio footer menu */
.ms_footer-menu{
    background-color: rgb(56, 71, 149);
}
.ms_footer-menu ul li{
    list-style: none;
}
/* fine footer menu */